/Backend/logs
/Backend/*.log
/Backend/npm-debug.log*
/Backend/yarn-debug.log*
/Backend/arn-error.log*
/Backend/lerna-debug.log*
/Backend/.pnpm-debug.log*
/Backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/Backend/# Runtime data
/Backend/pids
/Backend/*.pid
/Backend/*.seed
/Backend/*.pid.lock
/Backend/lib-cov
/Backend/coverage
/Backend/*.lcov
/Backend/.nyc_output
/Backend/.grunt
/Backend/bower_components
/Backend/# node-waf configuration
/Backend/.lock-wscript
/Backend/build/Release
/Backend/node_modules/
/Backend/jspm_packages/
/Backend/web_modules/
/Backend/*.tsbuildinfo
/Backend/.npm
/Backend/.eslintcache
/Backend/.stylelintcache
/Backend/.rpt2_cache/
/Backend/.rts2_cache_cjs/
/Backend/.rts2_cache_es/
/Backend/.rts2_cache_umd/
/Backend/.node_repl_history
/Backend/*.tgz
/Backend/.yarn-integrity
/Backend/.env
/Backend/.env
/Backend/.env.development.local
/Backend/.env.test.local
/Backend/.env.production.local
/Backend/.env.local
/Backend/.cache
/Backend/.parcel-cache
/Backend/.next
/Backend/out
/Backend/.nuxt
/Backend/dist
/Backend/.cache/
/Backend/.vuepress/dist
/Backend/.temp
/Backend/.cache
/Backend/.docusaurus
/Backend/.serverless/
/Backend/.fusebox/
/Backend/.dynamodb/
/Backend/.tern-port
/Backend/.vscode-test
/Backend/.yarn/cache
/Backend/.yarn/unplugged
/Backend/.yarn/build-state.yml
/Backend/.yarn/install-state.gz
/Backend/.pnp.*
*.env


/Frontend/todo-app/node_modules
/Frontend/todo-app/.pnp
/Frontend/todo-app/.pnp.js
/Frontend/todo-app/coverage
/Frontend/todo-app/build
/Frontend/todo-app/.DS_Store
/Frontend/todo-app/.env.local
/Frontend/todo-app/.env.development.local
/Frontend/todo-app/.env.test.local
/Frontend/todo-app/.env.production.local
/Frontend/todo-app/npm-debug.log*
/Frontend/todo-app/yarn-debug.log*
/Frontend/todo-app/yarn-error.log*
